.grid {
    width: 100%;
    height: auto;
}

.grid__items-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 4vw;
    padding-right: 4vw;
}

.grid__search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4.2vw;
}

.grid__search-container_text {
    font-size: 15px;
    font-weight: normal;
    color: #707070;
    margin-right: 15px;
}