.grid {
    width: 100%;
    height: auto;
}

.grid__items-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 4vw;
    padding-right: 4vw;
}

.grid__search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6vw;
}

.grid__search-container_text {
    font-size: 15px;
    font-weight: normal;
    color: #707070;
    margin-right: 15px;
}

.grid__loading__container {
    width: 100%;
    margin-bottom: 10vh;
}

.grid__loading__text {
    width: 0px;
    height: 40px;
    overflow: hidden;
    animation: animated-text 2s steps(30, end) 1s infinite both;
    margin-top: 60px;
    margin-left: 24px;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 320px;
    }
}

@media only screen and (max-width: 600px) {
    .grid__items-container {
        padding: 0;
        display: inline;
    }
}