 .dropdown {
     display: inline-block;
     position: relative;
     overflow: hidden;
     height: 35px;
     width: 130px;
     background: #ffffff;
     border: 1px solid;
     border-color: white #f7f7f7 whitesmoke;
     border-radius: 8px;
     -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
 }

 .dropdown:before, .dropdown:after {
     content: '';
     position: absolute;
     z-index: 2;
     top: 11.5px;
     right: 10px;
     width: 0;
     height: 0;
     border: 4px dashed;
     border-color: #888888 transparent;
     pointer-events: none;
 }

 .dropdown:before {
     border-bottom-style: solid;
     border-top: none;
 }

 .dropdown:after {
     margin-top: 7px;
     border-top-style: solid;
     border-bottom: none;
 }

 .dropdown-select {
     position: relative;
     width: 130%;
     margin: 0;
     padding: 6px 8px 6px 10px;
     height: 35px;
     line-height: 14px;
     font-size: 12px;
     color: #62717a;
     text-shadow: 0 1px white;
     background: #f2f2f2;
     /* Fallback for IE 8 */
     background: rgba(0, 0, 0, 0) !important;
     /* "transparent" doesn't work with Opera */
     border: 0;
     border-radius: 0;
     -webkit-appearance: none;
 }

 .dropdown-select:focus {
     z-index: 3;
     width: 100%;
     color: #394349;
     outline: none;
 }

 .dropdown-select>option {
     margin: 3px;
     padding: 6px 8px;
     text-shadow: none;
     background: #f2f2f2;
     border-radius: 3px;
     cursor: pointer;
 }

 @-moz-document url-prefix() {
     .dropdown-select {
         padding-left: 6px;
     }
 }